# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets
.env
.env.*
*.pem
*.key
*.pfx
*.crt
*.cer

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/

# Logs
*.log


# Upload files
app/backend/uploads/
*.mp4
*.jpg
*.png

# Test files
materi-test.txt

app/backend/uploads/